<div class="register">
    <mat-card class="container">
        <mat-card-content>
            <div class="display-center">
                <h3>Cadastre-se</h3>
            </div>
        </mat-card-content>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row display-center">
                    <div class="col-md-10">
                        <mat-form-field>
                            <input matInput placeholder="Nome completo" formControlName="fullname">
                            <mat-error *ngIf="registerForm.get('fullname').errors?.required">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row display-center">
                    <div class="col-md-10">
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="registerForm.get('email').errors?.required">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row display-center">
                    <div class="col-md-10">
                        <mat-form-field>
                            <input matInput placeholder="Senha" type="password" formControlName="password">
                            <mat-error *ngIf="registerForm.get('password').errors?.required">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row display-center">
                    <div class="col-md-10">
                        <mat-form-field>
                            <input matInput placeholder="Login" formControlName="login">
                            <mat-error *ngIf="registerForm.get('login').errors?.required">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row display-center">
                    <div class="col-md-10">
                        <mat-form-field>
                            <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
                            <mat-error *ngIf="registerForm.get('cpf').errors?.required">
                                Campo obrigatório
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('cpf').errors?.CPFError">CPF inválido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row display-center">
                    <div class="col-md-10">
                        <mat-form-field>
                            <input matInput placeholder="Telefone" formControlName="phone" mask="(00) 0000-00009">
                            <mat-error *ngIf="registerForm.get('phone').errors?.required">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row display-center">
                    <button [disabled]="registerForm.invalid">Cadastrar</button>
                    <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/login']" class="btn ">Entrar com conta existente</a>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>